.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    overflow: hidden;    
}

#dino {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute; 
    bottom: 0;       
    left: 50px;
}

#cactus {
    width: 20px;
    height: 30px;
    background-color: red; 
    position: absolute;    
    bottom: 0;             
    left: 600px; 
    animation: block 1s linear; 
}
@keyframes jump {
    0% { bottom: 0; }
    30% { bottom: 50px; }
    70% { bottom: 50px; }
    100% { bottom: 0; }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes block {
    0% { left: 600px; }
    100% { left: -20px; }
}

#gameover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 10;
    top: 0;
    left: 0;
}